<header>
  <h1>Козаченко Данил Александрович</h1>
  <h1>Группа: P3212 Вариант: 471346</h1>
  <button type="button" (click)="logout()">
    Выйти
  </button>
</header>
<div class="main-content">
  <form [formGroup]="form">
    @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
    }
    <div class="form-field">
      <label>Координата X:</label>
      <div class="button-row">
        @for (val of xValues; track val) {
          <button type="button" [class.active]="form.value.x == val"
                  (click)="form.patchValue({ x: val })">
            {{ val }}
          </button>
        }
      </div>
    </div>

    <div class="form-field">
      <label>Координата Y:</label>
      <input type="text"
             name="y"
             formControlName="y"
             placeholder="-3..5"
             inputmode="decimal">
    </div>
    <div class="form-field">
      <label>Радиус R:</label>
      <div class="button-row">
        @for (val of rValues; track val) {
          <button type="button" [class.active]="form.value.r == val"
                  (click)="form.patchValue({ r: val }); handleRadiusChange()">
            {{ val }}
          </button>
        }
      </div>
    </div>
    <div class="form-buttons">
      <button type="button" (click)="submit()">
        Бахнуть орешником
      </button>
    </div>
  </form>
  <div class="canvas">
    <h2>Карта</h2>
    <div style="position: relative; width: 300px; height: 300px;">
      <canvas id="bgCanvas" width="300" height="300" style="position:absolute; z-index:0;">
      </canvas>
      <canvas id="graphCanvas" (click)="handleGraphClick($event)" width="300" height="300" style="position:absolute; z-index:1;">
      </canvas>
    </div>
    <img src="assets/boom.gif" id="boom-gif" [hidden]="!showBoom" alt="" height="254" width="224">
    <img src="assets/miss.gif" id="miss-gif" [hidden]="!showMiss" alt="" height="270" width="480">
  </div>
  <div class="results-table">
    <h2>Результаты</h2>
    <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>X</th>
        <th>Y</th>
        <th>R</th>
        <th>Попал?</th>
        <th>Время отправки</th>
      </tr>
      </thead>
      <tbody>
        @for (point of points; track $index) {
          <tr>
            <td>{{ point.x }}</td>
            <td>{{ point.y }}</td>
            <td>{{ point.r }}</td>
            <td>{{ point.isHit ? 'Гойдa' : 'Потужно' }}</td>
            <td>{{ point.timestamp | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
          </tr>
        }
      </tbody>
    </table>
    </div>
  </div>
</div>
